ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{ 
    float: left;
    border-right:1px solid #bbb;
}

li:last-child{
    border-right: none;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:rgb(136, 139, 134);
}

.active{
    background-color: #4CAF50;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    color: green;
    font-size: 2cm;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.gallery {
    margin: 25px;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    height: 300px;
}

.gallery:hover {
    border: 2px solid rgb(0, 0, 0);
}

.gallery img {
    height: 100%;
    width: auto;
}

.desc {
    padding: 20px;
    text-align: center;
}

body{
    background-color: rgba(133, 127, 127, 0.774)
}