ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{ 
    float: left;
    border-right:1px solid #bbb;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:rgb(136, 139, 134);
}

.active{
    background-color: #4CAF50;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
}

#contact{
    float: right;
}

h1{
    padding-top: 30px;
    color: green;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.gallery {
    
    margin: 35px;
    border: 2px solid rgb(0, 128, 0);
    display: inline-block;
    height: 300px;
   
}

img:hover {
    opacity: 0.6;
}

.gallery img {
    height:100%;
    width: auto;
}

.desc {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

body{
    text-align: center;
    background-color: rgba(224, 233, 215, 0.774);
}