ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

#contact{
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:rgb(136, 139, 134);
}

.active {
    background-color: #4CAF50;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    padding-top: 40px;
    color: green;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: justify;
    font-style: normal;
}

h2{
    color: rgb(63, 63, 63);
    font-size: 19px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

img:hover {
    opacity: 0.7;
}

img{
    width: 700px;
    padding: 10px;
    box-shadow: 0px 0px 17px #bbb;
}

body{
    text-align: center;
}
